<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Coderun.Configuration.DebugConfigurationLoading" value="false" />
    <add key="CodeRun.Configuration.CenteralizedConfigurationRegistryKey" value="HKEY_LOCAL_MACHINE\SOFTWARE\CodeRunAppServer" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.diagnostics>
    <trace>
      <listeners>
        <add name="UDPBroadcast" type="CodeRun.UDPTraceListener, CodeRun.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=b83f527cfd9d0f78" initializeData="9998, CSDB" />
        <add name="UDPBroadcast2" type="CodeRun.UDPTraceListener, CodeRun.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=b83f527cfd9d0f78" initializeData="9997, CSDB" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>